[submodule "algorithms/SourceFilterContoursMelody"]
	path = algorithms/SourceFilterContoursMelody
	url = https://github.com/juanjobosch/SourceFilterContoursMelody.git
[submodule "algorithms/MelodyExtraction_MCDNN"]
	path = algorithms/MelodyExtraction_MCDNN
	url = https://github.com/kukas/MelodyExtraction_MCDNN.git
