algorithms/environments/MelodyExtraction_MCDNN
algorithms/environments/singing_voice_separation_and_melody_extraction
algorithms/environments/SourceFilterContoursMelody
algorithms/singing_voice_separation_and_melody_extraction
datasets/
uploads/
estimations/
static/node_modules/
static/dist/
__pycache__/

