<!DOCTYPE html>
<html>
<head>
	<title>Melody Extraction Visualiser</title>
</head>
<body>

<div id="app">
  <piano-roll :reference-src="referenceSrc" :audio="player"></piano-roll>

  <div class="file-chooser">
    <input size="70" placeholder="audio file" v-model="audioSrc"><br>
    <input size="70" placeholder="mel file" v-model="referenceSrc"><br>
    <input size="70" placeholder="estimation file" v-model="estimationSrc"><br>
  </div>

  <div class="audio-player">
    <button id="playButton" :disabled="!audioLoaded" @click="player.play()">play</button>
    <button id="stopButton" :disabled="currentTime == 0" @click="player.pause();player.currentTime=0">stop</button>
  </div>
</div>

<script type="text/x-template" id="piano-roll">
  <div class="piano-roll">
    <canvas ref="canvas" :width=width :height=height></canvas>

    scale: <input type="range" v-model="timeScale" min="0" max="200">
  </div>
</script>

<script src="dist/bundle.js"></script>
</body>
</html>