<!DOCTYPE html>
<html>
<head>
	<title>Melody Extraction Visualiser</title>
</head>
<body>

<div id="app">
  <piano-roll ref="pianoRoll" :reference-src="referenceSrc" :estimation-src="estimationSrc" :audio="player"></piano-roll>

  <div class="file-chooser">
    <select v-model="currentDataset">
      <option disabled :value="false">Select dataset</option>
      <option v-for="dataset in datasets" :value="dataset">{{dataset.name}}</option>
    </select>
    <select v-if="currentDataset" v-model="currentClip">
      <option disabled value="">Select clip</option>
      <option v-for="clip in currentDataset.clips" :value="clip">{{clip.name}}</option>
    </select>
    <br>
    <br>
    <input size="70" placeholder="audio file" v-model="audioSrc" disabled><br>
    <input size="70" placeholder="mel file" v-model="referenceSrc" disabled><br>
    <select v-model="currentAlgorithm">
      <option disabled :value="false">Select algorithm</option>
      <option v-for="algorithm in algorithms" :value="algorithm">{{algorithm}}</option>
    </select>
    <button @click="updateEstimation" :disabled="estimationSrc.length===0">run algorithm</button>
    <br>
    <input size="70" placeholder="estimation file" v-model="estimationSrc" disabled><br>
  </div>

  <div class="audio-player">
    <button id="playButton" :disabled="!audioLoaded" @click="player.play()">play</button>
    <button id="stopButton" :disabled="currentTime == 0" @click="player.pause();player.currentTime=0">stop</button>
  </div>
</div>

<script type="text/x-template" id="piano-roll">
  <div class="piano-roll">
    <canvas ref="canvas" :width=width :height=height></canvas>

    scale: <input type="range" v-model="timeScale" min="0" max="200">
    pitch: <input type="range" v-model="a4pitch" min="420" max="460"> {{a4pitch}}Hz
  </div>
</script>

<script src="dist/bundle.js"></script>
</body>
</html>